:root {
    --plum-web: #f7aef8;
    --magenta-dye: #c20071;
    --dark-cornflower-blue: #20396b;
    --maximum-blue: #5cb3d6;
    --just-white: #ffffff;
    --just-black: #09080d;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}