:root {
    --plum-web: #f7aef8ff;
    --magenta-dye: #c20071ff;
    --dark-cornflower-blue: #20396bff;
    --maximum-blue: #5cb3d6ff;
    --just-white: #ffffffff;
    --just-black: #09080dff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}